@import "./globals.css";

.book-content {
  /* height: 100vh; */
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  background-color: var(--bg-color);
  color: var(--bg-color);
}

/* Book */
.book {
  position: relative;
  width: 40%;
  height: 80%;
  transition: transform 0.5s;
}

.paper {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  perspective: 1500px;

}

.front,
.back {
    border: 1px solid black;
  background-color: white;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform-origin: left;
  transition: transform 0.5s, background-color 0.5s, color 0.5s;
  background-color: var(--bg-color);
  color: var(--bg-color);
  
}

.front {
  z-index: 1;
  backface-visibility: hidden;
}

.back {
  z-index: 0;
}

.front-content,
.back-content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.back-content {
  transform: rotateY(180deg);
}

/* Paper flip effect */
.flipped .front,
.flipped .back {
  transform: rotateY(-180deg);
}

/* Controller Buttons */
button {
  /* border: none; */
  /* background-color: transparent; */
  cursor: pointer ;
  padding: 0.5rem;
  transition: transform 0.5s;

  &:focus {
    outline: none;
  }
  
  &:hover  {
    color: #636363;

  }
}




/* Paper stack order */
#p1 {
  z-index: 3;
}

#p2 {
  z-index: 2;
}

#p3 {
  z-index: 1;
}
