@font-face {
  font-family: 'press-start';
  src: url('assets/fonts/PressStart2P-Regular.ttf') format('truetype');
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  
  /* variables */
  :root {
    --bg-color: white;
    --color: black;
    
  }


  body {
    font-family: 'press-start';
}


  /* dont use !important here, doing so won't allow you to switch themes more than once. */
:root:has(#light:checked) {
  --bg-color: white;
    --color: black;
    #theme-labels{
      --bg-color: white;

    }
  }
  :root:has(#dark:checked) {
    --bg-color: #000;
    --color: white;
  }
  :root:has(#blue:checked) {
    --bg-color: blue;
    --color: white;
    cursor: url('../assets/images/snowflake.png'), auto;
    #theme-labels{
      --bg-color: blue;

    }
    
  }
  
  :root:has(#red:checked) {
    --bg-color: red;
    --color: white;
  }
  
  :root:has(#green:checked) {
    --bg-color: green;
    --color: white;
    cursor: url('../assets/images/leaf.png'), auto;
  
  }
  
  :root:has(#yellow:checked) {
    --bg-color: yellow;
    --color: black;
    cursor: url('../assets/images/lemon.png'), auto;
  }
  

